
<div class="media mb-4">
  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
  <div class="media-body">
    <h5>
      <% if comment.user %>
        <%= comment.user.email %>
      <% else %>
        Anonymous
      <% end %>

      <small>
        <%= time_ago_in_words comment.created_at %> ago
      </small>
    </h5>
    <%= simple_format comment.body %>
  </div>
</div>
