<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a href="/" class="navbar-brand">Issue Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMain">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= issues_path %>">
          Issues
        </a>
      </li>
    </ul>
    <% if user_signed_in? %>
      <span class="navbar-text">
        Logged in as 
        <%= current_user.email %>
      </span>
    <% end %>
  </div>
</nav>
